<div class="header">
    <a href="#/login" class="logo">
        <img src="img/oma-logo.png"/>
    </a>
    <div class="date">{{ today }}</div>
    <ul class="menu">
        <li>Registrarme</li><li>Recuperar</li>
    </ul>
</div>
<div class="content">
    <div class="login">
        <h3>Ingreso de Usuarios</h3>
        <form ng-submit="login()">
            <div>
                <label>Usuario</label>
                <input type="text" name="user" ng-model="user.name"/>
            </div>
            <div>
                <label>Contraseña</label>
                <input type="password" name="password" ng-model="user.password"/>
            </div>
            <div>
                <input type="submit" value="Ingresar"/>
            </div>
        </form>
    </div>
</div>
