/* CSS Document */

table.avatares {
	margin: 10px 0 0 0;
	width: 100%;
}

	table.avatares tbody {
	}
	
		table.avatares tbody tr {
		}
		
			table.avatares tbody tr td {
				vertical-align: bottom;
			}
			
				table.avatares tbody tr td.botones {
					text-align: right;
					padding: 0 10px 0 0;
				}
				
					table.avatares tbody tr td.botones input {
						padding: 8px 15px 8px 15px;
						font-weight: bold;
						color: #900;
					}
				
				table.avatares tbody tr td.imagen {
					width: 100px;
				}
				
					table.avatares tbody tr td.imagen img {
					}